In [296]:
# %%
import pandas as pd
import weasyprint
import webbrowser
import datetime
import os
import yfinance as yf
import math
import matplotlib.pyplot as plt


def highlight_values(x):

    if isinstance(x, (int, float)):
        if x < 0:
            return 'color: red'
        elif x >= 0:
            return 'color: black'
        else:
            pass



def scan_for_csv_files(directory):
    """Scans a directory for CSV files and returns their paths.

    Args:
        directory: The directory to scan.

    Returns:
        A list of paths to CSV files found in the directory.
    """

    csv_files = []
    for file in os.listdir(directory):
        if file.endswith('.csv'):
            csv_file_path = os.path.join(directory, file)
            csv_files.append(csv_file_path)
    return csv_files

files = scan_for_csv_files(os.getcwd())
count = 0

def getData(ticker, key):
    try:
        x = str(ticker)
        sym = ""
        if (x[-1:]) == ".":
            sym += x + "L"
        else:
            sym += x + ".L"
        stock = yf.Ticker(sym)
        stock= stock.info

        return stock[key]

    except:
        pass


def getSector(ticker):
    x = getData(ticker, 'sector')
    return x
def getDividendYield(ticker):
    x =getData(ticker, 'dividendYield')
    if not x ==  None:
        return ("{:.2f}".format(x*100))
    else:
        pass




# for csv in files:



df = pd.read_csv("shares.csv")
pd.set_option('display.width', 300)




df.columns = df.columns.str.strip('\ufeff')
df['Qty'] = df['Qty'].astype('Int64').astype('string')

df = df.drop(columns=['Day Gain/Loss', 'Day Gain/Loss %', 'Market Value £'])
df["Gain/Loss %"] = df["Gain/Loss %"].str.rstrip("%").astype('float')

totals = df.tail(2)
df.drop(df.tail(2).index,inplace=True)

In [36]:
df['Sector'] = df['Symbol'].apply(getSector)

In [37]:
df["Dividend Yield"] = df['Symbol'].apply(getDividendYield)

In [297]:
df = df.sort_values(by="Gain/Loss %", ascending=False)

In [298]:
df

   Symbol                                          Name    Qty      Price Market Value  Book Cost  Gain/Loss  Gain/Loss % Average Price
39    RR.                          Rolls-Royce Holdings    564    475.90p    £2,684.08    £507.18  £2,176.90       429.22        89.93p
46    W7L                               Warpaint London    143    550.00p      £786.50    £447.08    £339.42        75.92       312.64p
23    IDS           International Distribution Services    502    339.00p    £1,701.78    £998.09    £703.69        70.50       198.82p
41    TW.                                 Taylor Wimpey    727    161.40p    £1,173.38    £798.90    £374.48        46.87       109.89p
42   TSCO                                         Tesco   1352    362.80p    £4,905.06  £3,359.93  £1,545.13        45.99       248.52p
14   SMDS                                      DS Smith   1055    472.60p    £4,985.93  £3,439.94  £1,545.99        44.94       326.06p
22    IAG  International Consolidated Airlines Group SA    519    182.90p      £949.25    £655.52    £293.73        44.81       126.30p
36    PFD                                 Premier Foods   1554    179.00p    £2,781.66  £1,967.59    £814.07        41.37       126.61p
1     ABF                      Associated British Foods     95  2,490.00p    £2,365.50  £1,703.76    £661.74        38.84     1,793.43p
4     BA.                                   BAE Systems   1001  1,316.00p   £13,173.16  £9,537.75  £3,635.41        38.12       952.82p
35    PHE                       PowerHouse Energy Group  45308      1.10p      £498.39    £403.98     £94.41        23.37         0.89p
30   LLOY                          Lloyds Banking Group   2146     57.24p    £1,228.37  £1,064.10    £164.27        15.44        49.59p
19    GSK                                           GSK     69  1,662.50p    £1,147.13    £994.09    £153.04        15.40     1,440.71p
26   JET2                         Jet2  Ordinary Shares    315  1,439.00p    £4,532.85  £3,985.33    £547.52        13.74     1,265.18p
17   GENF                           Genflow Biosciences  10529      2.10p      £221.11    £200.00     £21.11        10.56         1.90p
33   PHNX                        Phoenix Group Holdings    410    561.50p    £2,302.15  £2,094.46    £207.69         9.92       510.84p
31    MKS                         Marks & Spencer Group    315    343.30p    £1,081.40  £1,000.39     £81.01         8.10       317.58p
7     CNA                                      Centrica   2315    126.25p    £2,922.69  £2,759.21    £163.48         5.92       119.19p
28    KGF                                    Kingfisher    365    282.00p    £1,029.30    £998.31     £30.99         3.10       273.51p
5    BARC                                      Barclays    274    224.05p      £613.90    £599.57     £14.33         2.39       218.82p
44    VTY                                  Vistry Group     45  1,349.00p      £607.05    £593.72     £13.33         2.25     1,319.38p
13    DLG                   Direct Line Insurance Group    259    191.40p      £495.73    £501.25     £-5.52        -1.10       193.53p
18    UKW                             Greencoat UK Wind    348    141.20p      £491.38    £500.55     £-9.17        -1.83       143.84p
3     BAB                   Babcock International Group    155    507.50p      £786.63    £801.93    £-15.30        -1.91       517.37p
47    JDW                             Wetherspoon (J D)    211    732.00p    £1,544.52  £1,589.69    £-45.17        -2.84       753.41p
15    EZJ                                       easyJet    715    479.00p    £3,424.85  £3,711.69   £-286.84        -7.73       519.12p
11   CREO                            Creo Medical Group   1227     29.00p      £355.83    £399.86    £-44.03       -11.01        32.59p
29   LGEN                         Legal & General Group   1475    223.00p    £3,289.25  £3,738.91   £-449.66       -12.03       253.49p
6     BP.                                            BP    430    419.15p    £1,802.35  £2,084.46   £-282.11       -13.53       484.76p
45    VOD                                Vodafone Group    950     76.06p      £722.57    £851.31   £-128.74       -15.12        89.61p
43    VTU                                  Vertu Motors    594     68.80p      £408.67    £499.68    £-91.01       -18.21        84.12p
12    DGE                                        Diageo     33  2,445.00p      £806.85    £992.39   £-185.54       -18.70     3,007.24p
27    WG.                               John Wood Group   1281    130.50p    £1,671.71  £2,066.66   £-394.95       -19.11       161.33p
0    ABDN                                         abrdn    441    145.10p      £639.89    £811.52   £-171.63       -21.15       184.02p
16   EDEN                                 Eden Research  15449      4.00p      £617.96    £799.96   £-182.00       -22.75         5.18p
20   HARL                Harland & Wolff Group Holdings   9692      8.00p      £775.36  £1,053.90   £-278.54       -26.43        10.87p
2    AURA                               Aura Energy Ltd   1922      6.50p      £124.93    £199.92    £-74.99       -37.51        10.40p
40   SHOE                                     Shoe Zone    688    145.00p      £997.60  £1,600.66   £-603.06       -37.68       232.65p
10   CUSN                            Cornish Metals Inc   4648      6.80p      £316.06    £599.91   £-283.85       -47.32        12.91p
21    IKA                                         Ilika   3955     23.00p      £909.65  £1,749.56   £-839.91       -48.01        44.24p
25    ITM                                     ITM Power    429     50.00p      £214.50    £499.76   £-285.26       -57.08       116.49p
32    PFC                                  Petrofac Ltd    605     15.01p       £90.81    £502.57   £-411.76       -81.93        83.07p
48    WBI                                  Woodbois Ltd  12323      0.44p       £54.22    £999.99   £-945.77       -94.58         8.11p
34   POLX             Polarean Imaging  Ordinary Shares   1565      1.60p       £25.04    £503.44   £-478.40       -95.03        32.17p
8     CDL                          Cloudbreak Discovery   8607      0.25p       £21.52    £596.20   £-574.68       -96.39         6.93p
38   RCGH                                 RC365 Holding   1283      1.60p       £20.53    £999.30   £-978.77       -97.95        77.89p
9     NaN                     CONSOLIDATED GWTH ORD NPV  67933      £0.00        £0.00      £0.01     £-0.01      -100.00         £0.00
24    NaN                       INTERSERVE ORD GBP0.001    956      £0.00        £0.00      £0.01     £-0.01      -100.00         £0.00
37    NaN                          QBS FLYWHEEL LTD NPV      6      £0.00        £0.00      £0.01     £-0.01      -100.00         £0.00

In [299]:

df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 49 entries, 39 to 37
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Symbol         46 non-null     object
 1   Name           49 non-null     object
 2   Qty            49 non-null     string
 3   Price          49 non-null     object
 4   Market Value   49 non-null     object
 5   Book Cost      49 non-null     object
 6   Gain/Loss      49 non-null     object
 7   Gain/Loss %    49 non-null     float64
 8   Average Price  49 non-null     object
dtypes: float64(1), object(7), string(1)
memory usage: 3.8+ KB

In [281]:
# df['Market Value'] = df['Market Value'].str.replace('£', '')
# df['Market Value'] = df['Market Value'].str.replace(',', '')
# df['Market Value'] = df['Market Value'].astype('float')

In [300]:
result = pd.concat([df,totals])
# result = result.fillna('')

In [303]:
result['Market Value'] = result['Market Value'].str.replace('£', '')
result['Market Value'] = result['Market Value'].str.replace(',', '')
result['Market Value'] = result['Market Value'].astype('float')

In [305]:
result

   Symbol                                          Name    Qty      Price  Market Value   Book Cost  Gain/Loss  Gain/Loss % Average Price
39    RR.                          Rolls-Royce Holdings    564    475.90p       2684.08     £507.18  £2,176.90       429.22        89.93p
46    W7L                               Warpaint London    143    550.00p        786.50     £447.08    £339.42        75.92       312.64p
23    IDS           International Distribution Services    502    339.00p       1701.78     £998.09    £703.69        70.50       198.82p
41    TW.                                 Taylor Wimpey    727    161.40p       1173.38     £798.90    £374.48        46.87       109.89p
42   TSCO                                         Tesco   1352    362.80p       4905.06   £3,359.93  £1,545.13        45.99       248.52p
14   SMDS                                      DS Smith   1055    472.60p       4985.93   £3,439.94  £1,545.99        44.94       326.06p
22    IAG  International Consolidated Airlines Group SA    519    182.90p        949.25     £655.52    £293.73        44.81       126.30p
36    PFD                                 Premier Foods   1554    179.00p       2781.66   £1,967.59    £814.07        41.37       126.61p
1     ABF                      Associated British Foods     95  2,490.00p       2365.50   £1,703.76    £661.74        38.84     1,793.43p
4     BA.                                   BAE Systems   1001  1,316.00p      13173.16   £9,537.75  £3,635.41        38.12       952.82p
35    PHE                       PowerHouse Energy Group  45308      1.10p        498.39     £403.98     £94.41        23.37         0.89p
30   LLOY                          Lloyds Banking Group   2146     57.24p       1228.37   £1,064.10    £164.27        15.44        49.59p
19    GSK                                           GSK     69  1,662.50p       1147.13     £994.09    £153.04        15.40     1,440.71p
26   JET2                         Jet2  Ordinary Shares    315  1,439.00p       4532.85   £3,985.33    £547.52        13.74     1,265.18p
17   GENF                           Genflow Biosciences  10529      2.10p        221.11     £200.00     £21.11        10.56         1.90p
33   PHNX                        Phoenix Group Holdings    410    561.50p       2302.15   £2,094.46    £207.69         9.92       510.84p
31    MKS                         Marks & Spencer Group    315    343.30p       1081.40   £1,000.39     £81.01         8.10       317.58p
7     CNA                                      Centrica   2315    126.25p       2922.69   £2,759.21    £163.48         5.92       119.19p
28    KGF                                    Kingfisher    365    282.00p       1029.30     £998.31     £30.99         3.10       273.51p
5    BARC                                      Barclays    274    224.05p        613.90     £599.57     £14.33         2.39       218.82p
44    VTY                                  Vistry Group     45  1,349.00p        607.05     £593.72     £13.33         2.25     1,319.38p
13    DLG                   Direct Line Insurance Group    259    191.40p        495.73     £501.25     £-5.52        -1.10       193.53p
18    UKW                             Greencoat UK Wind    348    141.20p        491.38     £500.55     £-9.17        -1.83       143.84p
3     BAB                   Babcock International Group    155    507.50p        786.63     £801.93    £-15.30        -1.91       517.37p
47    JDW                             Wetherspoon (J D)    211    732.00p       1544.52   £1,589.69    £-45.17        -2.84       753.41p
15    EZJ                                       easyJet    715    479.00p       3424.85   £3,711.69   £-286.84        -7.73       519.12p
11   CREO                            Creo Medical Group   1227     29.00p        355.83     £399.86    £-44.03       -11.01        32.59p
29   LGEN                         Legal & General Group   1475    223.00p       3289.25   £3,738.91   £-449.66       -12.03       253.49p
6     BP.                                            BP    430    419.15p       1802.35   £2,084.46   £-282.11       -13.53       484.76p
45    VOD                                Vodafone Group    950     76.06p        722.57     £851.31   £-128.74       -15.12        89.61p
43    VTU                                  Vertu Motors    594     68.80p        408.67     £499.68    £-91.01       -18.21        84.12p
12    DGE                                        Diageo     33  2,445.00p        806.85     £992.39   £-185.54       -18.70     3,007.24p
27    WG.                               John Wood Group   1281    130.50p       1671.71   £2,066.66   £-394.95       -19.11       161.33p
0    ABDN                                         abrdn    441    145.10p        639.89     £811.52   £-171.63       -21.15       184.02p
16   EDEN                                 Eden Research  15449      4.00p        617.96     £799.96   £-182.00       -22.75         5.18p
20   HARL                Harland & Wolff Group Holdings   9692      8.00p        775.36   £1,053.90   £-278.54       -26.43        10.87p
2    AURA                               Aura Energy Ltd   1922      6.50p        124.93     £199.92    £-74.99       -37.51        10.40p
40   SHOE                                     Shoe Zone    688    145.00p        997.60   £1,600.66   £-603.06       -37.68       232.65p
10   CUSN                            Cornish Metals Inc   4648      6.80p        316.06     £599.91   £-283.85       -47.32        12.91p
21    IKA                                         Ilika   3955     23.00p        909.65   £1,749.56   £-839.91       -48.01        44.24p
25    ITM                                     ITM Power    429     50.00p        214.50     £499.76   £-285.26       -57.08       116.49p
32    PFC                                  Petrofac Ltd    605     15.01p         90.81     £502.57   £-411.76       -81.93        83.07p
48    WBI                                  Woodbois Ltd  12323      0.44p         54.22     £999.99   £-945.77       -94.58         8.11p
34   POLX             Polarean Imaging  Ordinary Shares   1565      1.60p         25.04     £503.44   £-478.40       -95.03        32.17p
8     CDL                          Cloudbreak Discovery   8607      0.25p         21.52     £596.20   £-574.68       -96.39         6.93p
38   RCGH                                 RC365 Holding   1283      1.60p         20.53     £999.30   £-978.77       -97.95        77.89p
9     NaN                     CONSOLIDATED GWTH ORD NPV  67933      £0.00          0.00       £0.01     £-0.01      -100.00         £0.00
24    NaN                       INTERSERVE ORD GBP0.001    956      £0.00          0.00       £0.01     £-0.01      -100.00         £0.00
37    NaN                          QBS FLYWHEEL LTD NPV      6      £0.00          0.00       £0.01     £-0.01      -100.00         £0.00
49    NaN                                           NaN   <NA>     Totals           NaN         NaN        NaN          NaN           NaN
50    NaN                                           NaN   <NA>        GBP      72299.05  £66,764.00  £5,535.05         8.29           NaN

In [306]:
result['Gain/Loss']= result["Gain/Loss"].str.replace('£', '')
result['Gain/Loss']= pd.to_numeric(result["Gain/Loss"].str.replace(',', '') ,errors='coerce')

AttributeError: Can only use .str accessor with string values!

In [307]:

result['Gain/Loss %']= pd.to_numeric(result["Gain/Loss %"],errors='coerce')

In [308]:
result

   Symbol                                          Name    Qty      Price  Market Value   Book Cost  Gain/Loss  Gain/Loss % Average Price
39    RR.                          Rolls-Royce Holdings    564    475.90p       2684.08     £507.18    2176.90       429.22        89.93p
46    W7L                               Warpaint London    143    550.00p        786.50     £447.08     339.42        75.92       312.64p
23    IDS           International Distribution Services    502    339.00p       1701.78     £998.09     703.69        70.50       198.82p
41    TW.                                 Taylor Wimpey    727    161.40p       1173.38     £798.90     374.48        46.87       109.89p
42   TSCO                                         Tesco   1352    362.80p       4905.06   £3,359.93    1545.13        45.99       248.52p
14   SMDS                                      DS Smith   1055    472.60p       4985.93   £3,439.94    1545.99        44.94       326.06p
22    IAG  International Consolidated Airlines Group SA    519    182.90p        949.25     £655.52     293.73        44.81       126.30p
36    PFD                                 Premier Foods   1554    179.00p       2781.66   £1,967.59     814.07        41.37       126.61p
1     ABF                      Associated British Foods     95  2,490.00p       2365.50   £1,703.76     661.74        38.84     1,793.43p
4     BA.                                   BAE Systems   1001  1,316.00p      13173.16   £9,537.75    3635.41        38.12       952.82p
35    PHE                       PowerHouse Energy Group  45308      1.10p        498.39     £403.98      94.41        23.37         0.89p
30   LLOY                          Lloyds Banking Group   2146     57.24p       1228.37   £1,064.10     164.27        15.44        49.59p
19    GSK                                           GSK     69  1,662.50p       1147.13     £994.09     153.04        15.40     1,440.71p
26   JET2                         Jet2  Ordinary Shares    315  1,439.00p       4532.85   £3,985.33     547.52        13.74     1,265.18p
17   GENF                           Genflow Biosciences  10529      2.10p        221.11     £200.00      21.11        10.56         1.90p
33   PHNX                        Phoenix Group Holdings    410    561.50p       2302.15   £2,094.46     207.69         9.92       510.84p
31    MKS                         Marks & Spencer Group    315    343.30p       1081.40   £1,000.39      81.01         8.10       317.58p
7     CNA                                      Centrica   2315    126.25p       2922.69   £2,759.21     163.48         5.92       119.19p
28    KGF                                    Kingfisher    365    282.00p       1029.30     £998.31      30.99         3.10       273.51p
5    BARC                                      Barclays    274    224.05p        613.90     £599.57      14.33         2.39       218.82p
44    VTY                                  Vistry Group     45  1,349.00p        607.05     £593.72      13.33         2.25     1,319.38p
13    DLG                   Direct Line Insurance Group    259    191.40p        495.73     £501.25      -5.52        -1.10       193.53p
18    UKW                             Greencoat UK Wind    348    141.20p        491.38     £500.55      -9.17        -1.83       143.84p
3     BAB                   Babcock International Group    155    507.50p        786.63     £801.93     -15.30        -1.91       517.37p
47    JDW                             Wetherspoon (J D)    211    732.00p       1544.52   £1,589.69     -45.17        -2.84       753.41p
15    EZJ                                       easyJet    715    479.00p       3424.85   £3,711.69    -286.84        -7.73       519.12p
11   CREO                            Creo Medical Group   1227     29.00p        355.83     £399.86     -44.03       -11.01        32.59p
29   LGEN                         Legal & General Group   1475    223.00p       3289.25   £3,738.91    -449.66       -12.03       253.49p
6     BP.                                            BP    430    419.15p       1802.35   £2,084.46    -282.11       -13.53       484.76p
45    VOD                                Vodafone Group    950     76.06p        722.57     £851.31    -128.74       -15.12        89.61p
43    VTU                                  Vertu Motors    594     68.80p        408.67     £499.68     -91.01       -18.21        84.12p
12    DGE                                        Diageo     33  2,445.00p        806.85     £992.39    -185.54       -18.70     3,007.24p
27    WG.                               John Wood Group   1281    130.50p       1671.71   £2,066.66    -394.95       -19.11       161.33p
0    ABDN                                         abrdn    441    145.10p        639.89     £811.52    -171.63       -21.15       184.02p
16   EDEN                                 Eden Research  15449      4.00p        617.96     £799.96    -182.00       -22.75         5.18p
20   HARL                Harland & Wolff Group Holdings   9692      8.00p        775.36   £1,053.90    -278.54       -26.43        10.87p
2    AURA                               Aura Energy Ltd   1922      6.50p        124.93     £199.92     -74.99       -37.51        10.40p
40   SHOE                                     Shoe Zone    688    145.00p        997.60   £1,600.66    -603.06       -37.68       232.65p
10   CUSN                            Cornish Metals Inc   4648      6.80p        316.06     £599.91    -283.85       -47.32        12.91p
21    IKA                                         Ilika   3955     23.00p        909.65   £1,749.56    -839.91       -48.01        44.24p
25    ITM                                     ITM Power    429     50.00p        214.50     £499.76    -285.26       -57.08       116.49p
32    PFC                                  Petrofac Ltd    605     15.01p         90.81     £502.57    -411.76       -81.93        83.07p
48    WBI                                  Woodbois Ltd  12323      0.44p         54.22     £999.99    -945.77       -94.58         8.11p
34   POLX             Polarean Imaging  Ordinary Shares   1565      1.60p         25.04     £503.44    -478.40       -95.03        32.17p
8     CDL                          Cloudbreak Discovery   8607      0.25p         21.52     £596.20    -574.68       -96.39         6.93p
38   RCGH                                 RC365 Holding   1283      1.60p         20.53     £999.30    -978.77       -97.95        77.89p
9     NaN                     CONSOLIDATED GWTH ORD NPV  67933      £0.00          0.00       £0.01      -0.01      -100.00         £0.00
24    NaN                       INTERSERVE ORD GBP0.001    956      £0.00          0.00       £0.01      -0.01      -100.00         £0.00
37    NaN                          QBS FLYWHEEL LTD NPV      6      £0.00          0.00       £0.01      -0.01      -100.00         £0.00
49    NaN                                           NaN   <NA>     Totals           NaN         NaN        NaN          NaN           NaN
50    NaN                                           NaN   <NA>        GBP      72299.05  £66,764.00    5535.05         8.29           NaN

In [309]:
result = result.reset_index(drop=True)
result = result.fillna('')
# Drop rows with NaN values

In [310]:
result

   Symbol                                          Name    Qty      Price Market Value   Book Cost Gain/Loss Gain/Loss % Average Price
0     RR.                          Rolls-Royce Holdings    564    475.90p      2684.08     £507.18    2176.9      429.22        89.93p
1     W7L                               Warpaint London    143    550.00p        786.5     £447.08    339.42       75.92       312.64p
2     IDS           International Distribution Services    502    339.00p      1701.78     £998.09    703.69        70.5       198.82p
3     TW.                                 Taylor Wimpey    727    161.40p      1173.38     £798.90    374.48       46.87       109.89p
4    TSCO                                         Tesco   1352    362.80p      4905.06   £3,359.93   1545.13       45.99       248.52p
5    SMDS                                      DS Smith   1055    472.60p      4985.93   £3,439.94   1545.99       44.94       326.06p
6     IAG  International Consolidated Airlines Group SA    519    182.90p       949.25     £655.52    293.73       44.81       126.30p
7     PFD                                 Premier Foods   1554    179.00p      2781.66   £1,967.59    814.07       41.37       126.61p
8     ABF                      Associated British Foods     95  2,490.00p       2365.5   £1,703.76    661.74       38.84     1,793.43p
9     BA.                                   BAE Systems   1001  1,316.00p     13173.16   £9,537.75   3635.41       38.12       952.82p
10    PHE                       PowerHouse Energy Group  45308      1.10p       498.39     £403.98     94.41       23.37         0.89p
11   LLOY                          Lloyds Banking Group   2146     57.24p      1228.37   £1,064.10    164.27       15.44        49.59p
12    GSK                                           GSK     69  1,662.50p      1147.13     £994.09    153.04        15.4     1,440.71p
13   JET2                         Jet2  Ordinary Shares    315  1,439.00p      4532.85   £3,985.33    547.52       13.74     1,265.18p
14   GENF                           Genflow Biosciences  10529      2.10p       221.11     £200.00     21.11       10.56         1.90p
15   PHNX                        Phoenix Group Holdings    410    561.50p      2302.15   £2,094.46    207.69        9.92       510.84p
16    MKS                         Marks & Spencer Group    315    343.30p       1081.4   £1,000.39     81.01         8.1       317.58p
17    CNA                                      Centrica   2315    126.25p      2922.69   £2,759.21    163.48        5.92       119.19p
18    KGF                                    Kingfisher    365    282.00p       1029.3     £998.31     30.99         3.1       273.51p
19   BARC                                      Barclays    274    224.05p        613.9     £599.57     14.33        2.39       218.82p
20    VTY                                  Vistry Group     45  1,349.00p       607.05     £593.72     13.33        2.25     1,319.38p
21    DLG                   Direct Line Insurance Group    259    191.40p       495.73     £501.25     -5.52        -1.1       193.53p
22    UKW                             Greencoat UK Wind    348    141.20p       491.38     £500.55     -9.17       -1.83       143.84p
23    BAB                   Babcock International Group    155    507.50p       786.63     £801.93     -15.3       -1.91       517.37p
24    JDW                             Wetherspoon (J D)    211    732.00p      1544.52   £1,589.69    -45.17       -2.84       753.41p
25    EZJ                                       easyJet    715    479.00p      3424.85   £3,711.69   -286.84       -7.73       519.12p
26   CREO                            Creo Medical Group   1227     29.00p       355.83     £399.86    -44.03      -11.01        32.59p
27   LGEN                         Legal & General Group   1475    223.00p      3289.25   £3,738.91   -449.66      -12.03       253.49p
28    BP.                                            BP    430    419.15p      1802.35   £2,084.46   -282.11      -13.53       484.76p
29    VOD                                Vodafone Group    950     76.06p       722.57     £851.31   -128.74      -15.12        89.61p
30    VTU                                  Vertu Motors    594     68.80p       408.67     £499.68    -91.01      -18.21        84.12p
31    DGE                                        Diageo     33  2,445.00p       806.85     £992.39   -185.54       -18.7     3,007.24p
32    WG.                               John Wood Group   1281    130.50p      1671.71   £2,066.66   -394.95      -19.11       161.33p
33   ABDN                                         abrdn    441    145.10p       639.89     £811.52   -171.63      -21.15       184.02p
34   EDEN                                 Eden Research  15449      4.00p       617.96     £799.96    -182.0      -22.75         5.18p
35   HARL                Harland & Wolff Group Holdings   9692      8.00p       775.36   £1,053.90   -278.54      -26.43        10.87p
36   AURA                               Aura Energy Ltd   1922      6.50p       124.93     £199.92    -74.99      -37.51        10.40p
37   SHOE                                     Shoe Zone    688    145.00p        997.6   £1,600.66   -603.06      -37.68       232.65p
38   CUSN                            Cornish Metals Inc   4648      6.80p       316.06     £599.91   -283.85      -47.32        12.91p
39    IKA                                         Ilika   3955     23.00p       909.65   £1,749.56   -839.91      -48.01        44.24p
40    ITM                                     ITM Power    429     50.00p        214.5     £499.76   -285.26      -57.08       116.49p
41    PFC                                  Petrofac Ltd    605     15.01p        90.81     £502.57   -411.76      -81.93        83.07p
42    WBI                                  Woodbois Ltd  12323      0.44p        54.22     £999.99   -945.77      -94.58         8.11p
43   POLX             Polarean Imaging  Ordinary Shares   1565      1.60p        25.04     £503.44    -478.4      -95.03        32.17p
44    CDL                          Cloudbreak Discovery   8607      0.25p        21.52     £596.20   -574.68      -96.39         6.93p
45   RCGH                                 RC365 Holding   1283      1.60p        20.53     £999.30   -978.77      -97.95        77.89p
46                            CONSOLIDATED GWTH ORD NPV  67933      £0.00          0.0       £0.01     -0.01      -100.0         £0.00
47                              INTERSERVE ORD GBP0.001    956      £0.00          0.0       £0.01     -0.01      -100.0         £0.00
48                                 QBS FLYWHEEL LTD NPV      6      £0.00          0.0       £0.01     -0.01      -100.0         £0.00
49                                                                 Totals
50                                                                    GBP     72299.05  £66,764.00   5535.05        8.29

In [311]:
result['Gain/Loss'] = pd.to_numeric(result['Gain/Loss'], errors='coerce')
result['Gain/Loss %'] = pd.to_numeric(result['Gain/Loss %'], errors='coerce')

# result['Market Value'] = result['Market Value'].str.replace('£', '')


result['Market Value'] = pd.to_numeric(result['Market Value'], errors='coerce')

In [312]:
result

   Symbol                                          Name    Qty      Price  Market Value   Book Cost  Gain/Loss  Gain/Loss % Average Price
0     RR.                          Rolls-Royce Holdings    564    475.90p       2684.08     £507.18    2176.90       429.22        89.93p
1     W7L                               Warpaint London    143    550.00p        786.50     £447.08     339.42        75.92       312.64p
2     IDS           International Distribution Services    502    339.00p       1701.78     £998.09     703.69        70.50       198.82p
3     TW.                                 Taylor Wimpey    727    161.40p       1173.38     £798.90     374.48        46.87       109.89p
4    TSCO                                         Tesco   1352    362.80p       4905.06   £3,359.93    1545.13        45.99       248.52p
5    SMDS                                      DS Smith   1055    472.60p       4985.93   £3,439.94    1545.99        44.94       326.06p
6     IAG  International Consolidated Airlines Group SA    519    182.90p        949.25     £655.52     293.73        44.81       126.30p
7     PFD                                 Premier Foods   1554    179.00p       2781.66   £1,967.59     814.07        41.37       126.61p
8     ABF                      Associated British Foods     95  2,490.00p       2365.50   £1,703.76     661.74        38.84     1,793.43p
9     BA.                                   BAE Systems   1001  1,316.00p      13173.16   £9,537.75    3635.41        38.12       952.82p
10    PHE                       PowerHouse Energy Group  45308      1.10p        498.39     £403.98      94.41        23.37         0.89p
11   LLOY                          Lloyds Banking Group   2146     57.24p       1228.37   £1,064.10     164.27        15.44        49.59p
12    GSK                                           GSK     69  1,662.50p       1147.13     £994.09     153.04        15.40     1,440.71p
13   JET2                         Jet2  Ordinary Shares    315  1,439.00p       4532.85   £3,985.33     547.52        13.74     1,265.18p
14   GENF                           Genflow Biosciences  10529      2.10p        221.11     £200.00      21.11        10.56         1.90p
15   PHNX                        Phoenix Group Holdings    410    561.50p       2302.15   £2,094.46     207.69         9.92       510.84p
16    MKS                         Marks & Spencer Group    315    343.30p       1081.40   £1,000.39      81.01         8.10       317.58p
17    CNA                                      Centrica   2315    126.25p       2922.69   £2,759.21     163.48         5.92       119.19p
18    KGF                                    Kingfisher    365    282.00p       1029.30     £998.31      30.99         3.10       273.51p
19   BARC                                      Barclays    274    224.05p        613.90     £599.57      14.33         2.39       218.82p
20    VTY                                  Vistry Group     45  1,349.00p        607.05     £593.72      13.33         2.25     1,319.38p
21    DLG                   Direct Line Insurance Group    259    191.40p        495.73     £501.25      -5.52        -1.10       193.53p
22    UKW                             Greencoat UK Wind    348    141.20p        491.38     £500.55      -9.17        -1.83       143.84p
23    BAB                   Babcock International Group    155    507.50p        786.63     £801.93     -15.30        -1.91       517.37p
24    JDW                             Wetherspoon (J D)    211    732.00p       1544.52   £1,589.69     -45.17        -2.84       753.41p
25    EZJ                                       easyJet    715    479.00p       3424.85   £3,711.69    -286.84        -7.73       519.12p
26   CREO                            Creo Medical Group   1227     29.00p        355.83     £399.86     -44.03       -11.01        32.59p
27   LGEN                         Legal & General Group   1475    223.00p       3289.25   £3,738.91    -449.66       -12.03       253.49p
28    BP.                                            BP    430    419.15p       1802.35   £2,084.46    -282.11       -13.53       484.76p
29    VOD                                Vodafone Group    950     76.06p        722.57     £851.31    -128.74       -15.12        89.61p
30    VTU                                  Vertu Motors    594     68.80p        408.67     £499.68     -91.01       -18.21        84.12p
31    DGE                                        Diageo     33  2,445.00p        806.85     £992.39    -185.54       -18.70     3,007.24p
32    WG.                               John Wood Group   1281    130.50p       1671.71   £2,066.66    -394.95       -19.11       161.33p
33   ABDN                                         abrdn    441    145.10p        639.89     £811.52    -171.63       -21.15       184.02p
34   EDEN                                 Eden Research  15449      4.00p        617.96     £799.96    -182.00       -22.75         5.18p
35   HARL                Harland & Wolff Group Holdings   9692      8.00p        775.36   £1,053.90    -278.54       -26.43        10.87p
36   AURA                               Aura Energy Ltd   1922      6.50p        124.93     £199.92     -74.99       -37.51        10.40p
37   SHOE                                     Shoe Zone    688    145.00p        997.60   £1,600.66    -603.06       -37.68       232.65p
38   CUSN                            Cornish Metals Inc   4648      6.80p        316.06     £599.91    -283.85       -47.32        12.91p
39    IKA                                         Ilika   3955     23.00p        909.65   £1,749.56    -839.91       -48.01        44.24p
40    ITM                                     ITM Power    429     50.00p        214.50     £499.76    -285.26       -57.08       116.49p
41    PFC                                  Petrofac Ltd    605     15.01p         90.81     £502.57    -411.76       -81.93        83.07p
42    WBI                                  Woodbois Ltd  12323      0.44p         54.22     £999.99    -945.77       -94.58         8.11p
43   POLX             Polarean Imaging  Ordinary Shares   1565      1.60p         25.04     £503.44    -478.40       -95.03        32.17p
44    CDL                          Cloudbreak Discovery   8607      0.25p         21.52     £596.20    -574.68       -96.39         6.93p
45   RCGH                                 RC365 Holding   1283      1.60p         20.53     £999.30    -978.77       -97.95        77.89p
46                            CONSOLIDATED GWTH ORD NPV  67933      £0.00          0.00       £0.01      -0.01      -100.00         £0.00
47                              INTERSERVE ORD GBP0.001    956      £0.00          0.00       £0.01      -0.01      -100.00         £0.00
48                                 QBS FLYWHEEL LTD NPV      6      £0.00          0.00       £0.01      -0.01      -100.00         £0.00
49                                                                 Totals           NaN                    NaN          NaN
50                                                                    GBP      72299.05  £66,764.00    5535.05         8.29

In [313]:

# Apply styling with proper formatting
def custom_format(x):
    if (isinstance(x, str)):
        return x
    elif pd.isna(x):  # Check if the value is NaN
        return '' # Return an empty string for NaN
    elif isinstance(x, (int, float)):  # Check if it's a number
        return f'£{x:.2f}' if 'Gain/Loss' in result.columns else f'{x:.2f}%' if 'Gain/Loss %' in result.columns else f'£{x:.2f}'
    return x  # Default return for other types

# Apply styling with proper formatting using a conditional function
styled = result.style.format({
    'Gain/Loss': custom_format,
    'Gain/Loss %': lambda x: f'{x:.2f}%' if pd.notna(x) else '',
    'Market Value': custom_format,
}).applymap(highlight_values, subset=['Gain/Loss'])

/tmp/ipykernel_12389/498042319.py:16: FutureWarning: Styler.applymap has been deprecated. Use Styler.map instead.
  }).applymap(highlight_values, subset=['Gain/Loss'])

In [315]:
styled

In [16]:
sector_market_value = df.groupby('Sector')['Market Value'].sum()

In [17]:
sector_market_value

Sector
Basic Materials            1009.76
Communication Services      722.57
Consumer Cyclical         16360.70
Consumer Defensive        11645.57
Energy                     3689.80
Financial Services         8569.29
Healthcare                 1749.11
Industrials               25117.65
Technology                   20.53
Utilities                  2922.69
Name: Market Value, dtype: float64

In [ ]:
plt.figure(figsize=(8, 6))
plt.pie(sector_market_value, labels=sector_market_value.index, autopct='%1.1f%%', startangle=90)
plt.title('Market Value Proportion by Sector')
# ')  # Equal aspect ratio ensures the pie chart is circular
plt.show()

In [317]:

HTML_TEMPLATE1 = '''
<html>
<head>
<style>
@page {
    size: landscape;
    margin: 0in 0in 0in 0in;

}
body{
    display:flex;
    flex-direction: row-reverse;
    margin:0;
}
div{
    position: relative;

    font-size: 7px;
    width: 10%;
    font-family:  	Courier New;
    padding-top: 10px;

    font-weight: bold;

}
table {
    margin-left: 0;
    margin-right: 0;
    margin-top:0;
    font-size:10px;
}
table, th, td {
    border: 0.2px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 2px;
    text-align: left;
    font-family: Helvetica, Arial, sans-serif;

}
table tbody tr:hover {
    background-color: #dddddd;
}
table thead th {
    text-align: center;
}
.wide {
    width: 90%;
}
</style>
</head>
<body>
'''

HTML_TEMPLATE2 = '''
</body>
</html>
'''


def to_html_pretty(df, filename='out.html', title=''):

    ht = ''
    if title != '':
        ht += '<div> %s </div>\n' % title
    ht += df.to_html(classes='wide', escape=False, index=False)

    with open(filename, 'w', encoding='utf-8') as f:
        f.write(HTML_TEMPLATE1 + ht + HTML_TEMPLATE2)

# Pretty print the dataframe as an html table to a file
intermediate_html = 'intermediate.html'

x = datetime.datetime.now()
title = 'Updated: ' + x.strftime('%b') + ' ' + x.strftime('%y')
to_html_pretty(styled,intermediate_html, title )
# if you do not want pretty printing, just use pandas:
# result.to_html(intermediate_html)

# Convert the html file to a pdf file using weasyprint

out_pdf= os.path.basename(os.path.normpath('shares.csv')).replace('.csv', '') + '.pdf'
weasyprint.HTML(intermediate_html).write_pdf(out_pdf)


#  webbrowser.open_new_tab("/tmp/intermediate.html")

weasyprint.HTML('intermediate.html').write_pdf('out_styled.pdf')
# This is the table pretty printer used above: